@page "/games"
@using System.Text.Json
@inject HttpClient Http

<PageTitle>Games</PageTitle>

<h1>Game Library Sample</h1>

<p>This component demonstrates showing data.</p>

@if (games is null)
{
    <p>
        <em>Loading...</em>
    </p>
}

else
{
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>ReleaseDate</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var game in games)
        {
            <tr>
                <td>@game.title</td>
                <td>@game.releaseDate</td>
                <td>@game.price</td>
                <td><button @onclick="() => DeleteGame(game.id!.Value)">Delete</button></td>
            </tr>
        }
        </tbody>
    </table>
}

<button @onclick="ReloadGames">Reload games</button>

<p>Want to add a new game?</p>

<div>
    <label>Title:</label>
    <input type="text" @bind="title"/>
</div>
<div>
    <label>Release date:</label>
    <input type="date" @bind="releaseDate"/>
</div>
<div>
    <label>Price:</label>
    <input type="number" @bind="price"/>
</div>

<button @onclick="Add">Save</button>
@code{
    List<GameModel>? games;
    private string title;
    private DateOnly releaseDate;
    private decimal price;

    protected override async Task OnInitializedAsync()
    {
        // This just resets sometimes, whatever.
        Http.BaseAddress ??= new Uri("https://localhost:7192");
        await LoadGamesAsync();
    }

    private async Task Add()
    {
        await Http.PostAsync("api/games", JsonContent.Create(new GameModel(null, title, releaseDate, price)));
        await ReloadGames();
    }

    private async Task ReloadGames()
    {
        await LoadGamesAsync();
        StateHasChanged();
    }

    private async Task LoadGamesAsync()
    {
        games = JsonSerializer.Deserialize<List<GameModel>>(await Http.GetStringAsync("api/games"));
    }

    private async Task DeleteGame(Guid id)
    {
        await Http.DeleteAsync($"api/games/{id}");
        games = games.Where(x => x.id != id).ToList();
        StateHasChanged();
    }

    private record GameModel(Guid? id, string title, DateOnly releaseDate, decimal price);
}